<!-- SLDS Global Header -->
<header class="slds-global-header_container">
  <div class="slds-global-header slds-grid slds-grid_align-spread">
    <div class="slds-global-header__item">
      <div>
        <span class="slds-icon_container slds-icon-standard-opportunity">
          <svg class="slds-icon slds-icon_large" aria-hidden="true">
            <use
              xlink:href="node_modules/@salesforce-ux/design-system/assets/icons/standard-sprite/svg/symbols.svg#opportunity"
            ></use>
          </svg>
        </span>
        <span
          class="slds-text-heading_medium slds-m-top_medium slds-p-left_small"
          >SLDS Demo</span
        >
      </div>
    </div>
    <div class="slds-global-header__item">
      <ul class="slds-global-actions">
        <li class="slds-global-actions__item">
          <button
            class="slds-button slds-button_icon slds-button_icon-container"
          >
            <svg class="slds-button__icon" aria-hidden="true">
              <use
                xlink:href="node_modules/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#notification"
              ></use>
            </svg>
            <span class="slds-assistive-text">Notifications</span>
          </button>
        </li>
        <li class="slds-global-actions__item">
          <button
            class="slds-button slds-button_icon slds-button_icon-container"
          >
            <svg class="slds-button__icon" aria-hidden="true">
              <use
                xlink:href="node_modules/@salesforce-ux/design-system/assets/icons/utility-sprite/svg/symbols.svg#settings"
              ></use>
            </svg>
            <span class="slds-assistive-text">Settings</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
