<!-- Page Header -->
<div class="slds-page-header slds-m-top_medium">
  <div class="slds-page-header__row">
    <div class="slds-page-header__col-title">
      <div class="slds-media">
        <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-standard-opportunity">
            <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
              <use
                xlink:href="node_modules/@salesforce-ux/design-system/assets/icons/standard-sprite/svg/symbols.svg#dashboard"
              ></use>
            </svg>
          </span>
        </div>
        <div class="slds-media__body">
          <div class="slds-page-header__name">
            <div class="slds-page-header__name-title">
              <h1>
                <span
                  class="slds-page-header__title slds-truncate"
                  title="SLDS Demo Dashboard"
                  >SLDS Demo Dashboard</span
                >
              </h1>
            </div>
          </div>
          <p class="slds-page-header__name-meta">
            Exploring Salesforce Lightning Design System
          </p>
        </div>
      </div>
    </div>
    <div class="slds-page-header__col-actions">
      <div class="slds-page-header__controls">
        <div class="slds-page-header__control">
          <button class="slds-button slds-button_brand">New Item</button>
        </div>
      </div>
    </div>
  </div>
</div>
